.container {
  display: flex;
}

.a .container {
  justify-content: unsafe center;
}

.a-a .item1 {
  margin-right: auto;
}

/* Can also align multiple elements */
/* .a .item3 {
  margin-right: auto;
} */

/* .b .container > div {
  flex: 1;
} */

.b .container > .item2 {
  flex: 2;
}

.c .container > :not(.item2) {
  flex: 1;
}

.d {
  min-height: 150px;
  height: 150px;
}

.d .container {
  align-items: center;
  justify-content: center;
}

.d .item1 {
  align-self: flex-end;
}

.d .item3 {
  align-self: flex-start;
}

.e {
  min-height: 250px;
  height: 250px;
}

.e .container {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.f .container {
  flex-wrap: wrap;
}

.f .container > div {
  width: 300px;
}

.g .item1 {
  /* flex-grow flex-shrink flex-basis */
  /* flex-grow = grow rate */
  /* flex-shrink = shrink rate */
  /* flex-basis = base size */
  flex: 1 1 400px;
}

.g .item2 {
  flex: 10 10 400px;
}

.h .item1 {
  order: 1;
}
.h .item2 {
  order: 0;
}
.h .item3 {
  order: -1;
}

.i li {
  font-size: 4rem;
  background-color: var(--primary-200) !important;
  color: var(--primary-600) !important;
}

.i .item3 {
  flex: 1;
}

@media all and (max-width: 880px) {
  .i .container {
    flex-wrap: wrap;
  }
  .i .container > li {
    flex: 1 1 50%;
  }
}

@media all and (max-width: 560px) {
  .i .container > li {
    flex: 1 1 100%;
  }
  .i .item3 {
    order: 1;
  }
}
